<h3 class="welcome">Welcome back</h3>

<section class="loginIn">
    
    <form action="" method="POST">

        <div class="loginIn">

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="">

        </div>

        <br>

        <div class="loginIn">

            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value="">

        </div>

        <br>

        <div class="submitBtn">
            <input type="button"  id="submit" value="Log in">
        </div>

    </form>

</section>
