<!DOCTYPE html>
<html>
    <head>
        <title>Basic Express Project</title>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <body>
        <h1>Welcome to my simple website</h1>
        <p>Be sure to visit the <a href='/headers'>headers page</a> to see what headers were sent from your browser to the server!</p>
        <p>
            This is a static file<br/>
            <img src="/images/red-car.jpg" width="200" />
        </p>
        <p>
            <button type="button" id="hello-button" onclick="sayHello('Nick')">Say Hello</button>
            <label id="hello-label" />
        </p>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>