<table border='1'>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Company</th>
        <th>Picture</th>
    </tr>
    {{#each employees}}
        {{#if visible}}
            {{>employee this}}
        {{else}}
            <tr>
                <td colspan="5">User {{name}} has hidden their information.</td>
            </tr>
        {{/if}}
    {{else}}
        <tr>
            <td colspan="5">No data available</td>
        </tr>            
    {{/each}}
</table>
