<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="css/index.css">
        <script src="https://kit.fontawesome.com/62e7f49a92.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>        

            <div class="logo">
                <a href="/">
                <img alt="desi khana" src="images/logo.jpg" height="100px">
            </a>
            </div>
            
            <div class="links">
                <a href="./onTheMenu">ON THE MENU</a>
                <a href="">PRICING</a>
                <a href="">BLOG</a>
                <a href="">FAQ</a>
                <a href="">ANNE-MARIE WITENSHAW</a>
                <a href="">GIFT CARDS</a>
                <a href="">BREAKFAST</a>
                <button onclick="document.location='./login'"style="float: right;margin-top: 4px;">Login</button>
                <button onclick="document.location='./registration'"style="margin-left: 700px;margin-bottom:3px ;">Sign Up</button>
            </div>


        </header>

        
        <main>  

            <div class="heroSection center">
                <img src="images/1.jpg" height="500" width ="1000px">
                <div class="textOnImage">
                    <h1>Try Canada's #1 desi meal</h1>
                    <p>Get farm-fresh ingredients to cook, delicious recipes,deliverd for FREE to your doorsteps.</p>
                <a href="/login"><button>Get Started</button></a>
                </div>
            </div> 
            
            <div class="center">
                <h3 style="font-size: xx-large;">HOW IT WORKS</h3>
            </div>

            <section class="contentSection">

           
                
                <br>
                
                <div class="center float">
                    <img src="../images/food in kicthen.jpg">
                    <h3 style="font-size: xx-large;">We create original recipes.</h3>
                    <p>Our in-house culinary team uses premium ingredients to create unique menus and products for breakfast, lunch, and dinner.</p>
                    <br>
                </div>

                <div class="center float">
                    <img src="../images/laptop.jpg">
                    <h3 style="font-size: xx-large;">You choose your preferences.</h3>
                    <p>Choose from a variety of healthy, delicious meals each week that accomodate your dietary preferences.</p>
                    <br>
                </div>

                <div class="center float">
                    <img src="../images/food delivery.jpg">
                    <h3 style="font-size: xx-large;">We deliver weekly — for free.</h3>
                    <p>Your ingredients are packaged in our temperature-conditioned boxes, so food stays fresh - even when you aren't at home.</p>
                    <br>
                </div>

                <div class="center float">
                    <img src="../images/vareity.jpg">
                    <h3 style="font-size: xx-large;">You eat incredible meals every day.</h3>
                    <p>From a one-minute weekday breakfast to a delicious two-course dinner made with your own hands, our recipes cater to all cooking levels and styles.</p>
                    <br>
                </div>

            </section>

            <div class="meals">
                <br>
                <br>
                <h3  class="center" style="font-size: xx-large;">WHAT'S ON THE MENU THIS WEEK</h3>

                <div class="topMeals">
                    <img src="../images/butter chicken naan.jpg" alt="butter chicken naan" height="300">
                    <div>
                        <h4>Butter Chicken Naan</h4>
                        <p>with daahi</p>
                        <br>
                        <p> $20</p>
                    </div>
                 
                </div>

                <div class="topMeals">
                    <img src="../images/dosa.jpg" alt="dosa"  height="300">
                   <div>
                        <h4>Dosa</h4>
                        <p>with Sambhar</p>
                        <br>
                        <p>Price:- $20</p>
                   </div>
                </div>

                <div class="topMeals">
                    <img src="../images/idli sambhar.jpg" alt="idli sambhar"  height="300">
                    <div>
                        <h4>Idli Sambhar</h4>
                        <p>with coconut chutney</p>
                        <br>
                        <p>Price:- $20</p>
                    </div>
                    
                </div>

                <div class="topMeals">
                    <img src="../images/samosa.jpg" alt="samosa"  height="300">
                    <div>
                        <h4>Samosa</h4>
                        <p>with imli chutney</p>
                        <br>
                        <p>Price:- $20</p>
                    </div>
                    
                </div>

            </div>

            <div style="clear:both;"></div>
        </main>


        <footer> 
        
            <div class ="myfooter" >

                <h3>NAVIGATE</h3>

                <a href="#">Home</a>
                <br>
                <a href="">On The Menu</a>
                <br>
                <a href="">Pricing</a>
                <br>
                <a href="">DesiKhana WOW</a>
                <br>
                <a href="">Join our team!</a>
                <br>
                <a href="">Our Story</a>
               
            </div>
            
            <div class ="myfooter" style="padding-top:20px;">

                <br>
                <br>
                <a href="">Blog</a>
                <br>
                <a href="">FAQ</a>
                <br>
                <a href="">Our Ingredients</a>
                <br>
                <a href="">Our Commitment</a>
                <br>
                <a href="">Gift Cards</a>
              
            </div>

            <div class ="myfooter" style="padding-top:20px;">

                <br>
                <br>
                <a href="">Press</a>
                <br>
                <a href="">Terms of use</a>
                <br>
                <a href="">Purchase Conditions</a>
                <br>
                <a href="">Investors</a>
                               
            </div>

            <div class ="myfooter">

                <h3>Get in Touch</h3>
                <p>1(123) 123-456</p>
                <p>chef@desikhana.ca</p>
                <p>FOLLOW US</p>

                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook" style="font-size: 50px;"></i>
                </a>

                <a href="https://www.instagram.com">
                    <i class="fab fa-instagram" style="font-size: 50px;"></i>
                </a>

            </div>

            <div style="clear:both;"></div>
   
            <div class="copyright">

                <p>Copyright © Winter 2021, Davinder Verma, WEB322NDD</p>

            </div>


        
        </footer>

    </body>
</html>